---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-primary text-primary">Primary</h1>
    <h2 class="font-secondary text-secondary">Secondary</h2>
  </main>
</Layout>
    
