---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="font-primary text-blue-600">Primary</h1>
    <h2 class="font-secondary">Secondary</h2>
  </main>
</Layout>
