<div
  id="trailer"
  class="fixed top-0 left-0 w-[20px] h-[20px] rounded-full z-[10000!important] opacity-100 transition-opacity duration-500 ease-in grid place-items-center bg-primary"
>
</div>
<style>
  #trailer {
    pointer-events: none;
  }
</style>

<script>
  const trailer = document.getElementById("trailer");

  const animateTrailer = (
    e: { clientX: number; clientY: number },
    interacting: boolean,
    color: string
  ) => {
    const x = e.clientX - trailer!.offsetWidth / 2;
    const y = e.clientY - trailer!.offsetHeight / 2;

    const keyframes = {
      transform: `translate(${x}px, ${y}px) scale(${interacting ? 8 : 1})`,
      backgroundColor: color,
    };

    trailer!.animate(keyframes, {
      duration: 800,
      fill: "forwards",
    });
  };

  window.onmousemove = (event) => {
    const interactable = event!.target!.closest(".card");
    const interacting = interactable ? true : false;

    animateTrailer(event, interacting);
  };
</script>
